.li {
    color: blue;
}
.body {

    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
}
.bk {
    border: 2px solid rgb(255, 51, 255);
}
.h {
    color: cyan;
}
.b {
    border: 3px solid rgb(102, 255, 51);
}
.div {

    background-image: linear-gradient(to bottom, blue, black,blue);
    background-repeat: no-repeat
}
.div2 {
    background-image: linear-gradient(to bottom, green, black);
}
marquee {
    color: cyan;
    border-color: red;
}
.head {
    text-align: center;
    align-items: center;
}
.h8 {
    border: 2px solid red;
}
}

.header {

text-align: center;

}